<% replies = defined?(replies) ? replies : true %>
<div class='story-content'>
  <p>
    <%= story.poster_name %> said:<br />
    <%= story.content %>
  </p>
  <p>
    <% unless !replies %>
      There <%= story.reply_count == 1 ? 'is' : 'are' %> <%= pluralize story.reply_count, 'reply' %>.

      <% replies.each_rel do |reply| %>
        <p>
          <%= reply.poster_name %> commented:<br />
          <%= reply.content %><br />
        </p>
      <% end %>
      <div><%= link_to 'Reply to this', new_story_reply_path(story) %></div>
    <% end %>
  </p>
</div>